<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../../assets/bootstrap/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="content">
                <div class="logo">
                    <a href="#">
                        <p>OnlineABCD</p>
                    </a>
                </div>
                <div class="imageabove">
                    <img class="imageleft" src="../../../assets/images/coffee.png">
                    <img class="imageright" src="../../../assets/images/pencil.png">
                </div>
                <div class="intro">
                    <h1>Chào mừng bạn đến với <strong>OnlineABCD</strong> </h1>
                    <h1>Website phục vụ cho việc học tập nghiên cứu của học sinh</h1>
                </div>
                <div class="imageunder">
                    <img src="../../../assets/images/macbook.png">
                </div>
                <div class="btnlogin">
                    <button onclick="document.getElementById('id01').style.display='block'" class="btn-lg btn btn-danger"
                        style="height: 80px;width: 220px;font-size: 24px;display: block;margin:0 auto">Đăng
                        nhập ngay</button>
                </div>
            </div>
            <div id="id01" class="modal">
                    <div class="formlogin modal-content animate">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <span class="glyphicon glyphicon-remove" style="position: absolute; right: 100px; top: 20px;" onclick="document.getElementById('id01').style.display='none'"></span>
                                <h1 style="margin-bottom: 50px; margin-top: 50px;">Thông tin đăng nhập</h1>
                                <div class="form-group">
                                        <label for="username">Gmail</label>
                                        <input type="text" formControlName="username" class="form-control input-lg" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">Bạn phải nhập gmail</div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" formControlName="password" class="form-control input-lg"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Bạn phải nhập password</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button [disabled]="loading"  class="btn-danger btn-lg center-block " style="margin-bottom: 20px">Login</button>
                                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    </div>
                            </form>
                        </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footerleft">
            <p>Website xây dựng phục vụ môn học Thực tập công nhân</p>
        </div>
        <div class="footerright">
            <p>Các thành viên bao gồm:</p>
            <ul>
                <li>Nguyễn Thế Cường</li>
                <li>Huỳnh Trương Phúc</li>
                <li>Ngô Hải Huế</li>
            </ul>
        </div>
        <div class="copyright">
            <p>Copyright. OnlineABCD.com.vn</p>
        </div>
    </div>
    <script>
            // Get the modal
            var modal = document.getElementById('id01');
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    document.getElementById('id01').style.display='none';
                }
            }
            </script>
</body>

</html>