

*
{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
body
{
	font-family:Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin:0;
	padding:0;
}
.container-fluid{
	background-image:   linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
		),
	url("../../../../../assets/images/backgroundhome.jpg"
		);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 0;
}
.header{
	height: 75px;
	background-color: #1BA39C;
	line-height: 75px;
	text-decoration: none;
	border-bottom: 2px solid #22313F;
}
.rightheader{
	width: 200px;
	margin-left: 30px;
	float: left;
}
.rightheader p{
	float: right;
	line-height: 75px;
	margin: 0;
	color: white;
	font-family: 'Spicy Rice', cursive;
	font-size: 18px;

}
.leftheader{
	float: right;
	height: 75px;
}
.leftheader ul{
	margin: 0;
	padding: 0;
	height: 75px;
}
.leftheader li {
	display: inline-block;
	width: 150px;
	margin-left: -5px;
	height: 75px;
	line-height: 80px;
}
.leftheader li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	text-align: center;
	display: block;
}
.leftheader li:hover{
	background-color: #36D7B7;
}
.footer{
	background-color: #2C3E50;
	color: white;
	padding: 20px;
}
.footerleft{
	float: left;
}
.footerright{
	float: right;
}
.copyright{
	clear: both;
	width: 400px;
	margin: 0 auto;
}
.container{
	height: 700px;
    background-color: #ECF0F1;
    padding: 20px;
}
.leftside{
	height: 800px;
	float: left;
	width: 30%;
	padding: 10px 20px;
	border-right: 5px solid #22313F;
}
.leftside input {
	margin-bottom: 20px;
}
.find{
	margin-bottom: 30px;
}
.rightside{
	height: 800px;
	float: right;
	width: 70%;
}
.catolog{
	border-top: 2px solid #26A65B;
}
.catolog ul{
	list-style-type: none;
}
.catolog h1{
	text-align: center;
	margin: 50px;
	color: #019875;
}
.catolog ul li{
	margin-bottom: 20px;
}
.catolog ul li a{
	text-decoration: none;
}
.label{
	font-size: 18px;
}
.test{
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 15px;
}
.test p{
	margin: 0;
}
.rightside{
	padding: 0px 50px;
}
.test a{
	font-size: 20px;
}
.pagi{
	position: relative;
	width: 200px;
	margin: 0 auto;
	top: 100px;
}
.pagination{
    width: 200px;
    margin: 0 auto;
}