<!DOCTYPE html>
<html>

<head>
  <title>Home user</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container-fluid">
    <div class="header">
      <div class="rightheader">
        <a routerLink="/teacher/tests" href="">
          <img src="../../../../assets/images/logo.png">
          <p>Online ABCD</p>
        </a>
      </div>
      <div class="leftheader">
        <ul>
          <li><a href="" routerLink="/teacher/tests">Đề thi</a></li>
          <li><a routerLink="/teacher/students">Học sinh</a></li>
          <li><a routerLink="/teacher">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
    <div class="container">

      <h1> Quản Lý Đề Thi </h1>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <br>
      <div>
        <label class="checkbox-inline"><input type="checkbox" value="10" checked>Lớp 10</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Lớp 11</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Lớp 12</label>
      </div>
      <button type="button" class="btn btn-primary" (click)="createTest()">Tạo mới</button>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tiêu đề</th>
            <th scope="col">Ngày Tạo</th>
            <th scope="col">Lịch sử thi</th>
            <th scope="col">Chi Tiết</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let test of tests ;let i = index;">
            <th scope="row">{{i}}</th>
            <td>{{test.title}}</td>
            <td>{{test.dateCreate}}</td>
            <td><button type="button" class="btn btn-primary" (click)="getListStudentDoneTest(test._id)">Lịch sử
              </button></td>
            <td> <button type="button" class="btn btn-info" (click)="showDetail(test._id)">Chi
                tiết</button></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example" class="center-block">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  <div class="footer">
    <div class="footerleft">
      <p>Website xây dựng phục vụ môn học Thực tập công nhân</p>
    </div>
    <div class="footerright">
      <p>Các thành viên bao gồm:</p>
      <ul>
        <li>Nguyễn Thế Cường</li>
        <li>Huỳnh Trương Phúc</li>
        <li>Ngô Hải Huế</li>
      </ul>
    </div>
    <div class="copyright">
      <p>Copyright. OnlineABCD.com.vn</p>
    </div>
  </div>
</body>

</html>