
<!DOCTYPE html>
<html>

<head>
  <title>Home user</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container-fluid">
    <div class="header">
      <div class="rightheader">
        <a routerLink="/user" href="">
          <img src="../../../../assets/images/logo.png">
          <p>Online ABCD</p>
        </a>
      </div>
      <div class="leftheader">
        <ul>
          <li><a href="" routerLink="/teacher/tests">Đề thi</a></li>
          <li><a routerLink="/teacher/students">Học sinh</a></li>
          <li><a routerLink="/teacher">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      
  <form style="width: 40% ; margin: 50px auto;">
    <h1>Thông tin học sinh</h1>
    <label>Tên học sinh</label>
    <input id="title" name="title" type="text" class="form-control" [(ngModel)]="student.name" required><br>
    <label>Gmail</label>
    <input type="text" name="password" class="form-control" [(ngModel)]="student.gmail" required><br>
    <label>Mật khẩu</label>
    <input type="text" name="time" class="form-control" [(ngModel)]="student.password" required><br>
    <label>Lớp</label>
    <input type="number" name="class" class="form-control" [(ngModel)]="student.class" required><br>
    <button type="button" class="btn btn-lg center-block btn-info" (click)="save()">Lưu</button>
  </form>
  </div>
</div>

  <div class="footer">
    <div class="footerleft">
      <p>Website xây dựng phục vụ môn học Thực tập công nhân</p>
    </div>
    <div class="footerright">
      <p>Các thành viên bao gồm:</p>
      <ul>
        <li>Nguyễn Thế Cường</li>
        <li>Huỳnh Trương Phúc</li>
        <li>Ngô Hải Huế</li>
      </ul>
    </div>
    <div class="copyright">
      <p>Copyright. OnlineABCD.com.vn</p>
    </div>
  </div>
</body>

</html>
