<div class="historyExam">
  <h1 class="title">Lịch sử làm bài</h1>
  <div class="">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-tittle"><a style="color: white;" href="">Đề thi vật lý trường chuyên Sào Nam</a></h3>
      </div>
      <div class="panel-body">
        <span class="label label-danger">Số câu hỏi:50</span>,
        <span class="label label-info">Thời gian: 90p</span>,
        <span class="label label-primary">Số câu đúng: 42</span>,
        <span class="label label-success">Ngày làm:20/11/2008</span>
        <button class="btn btn-info btn-lg">Làm lại</button>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-tittle"><a style="color: white;" href="">Đề thi vật lý 12 trường chuyên Hội An</a></h3>
      </div>
      <div class="panel-body">
        <span class="label label-danger">Số câu hỏi:50</span>,
        <span class="label label-info">Thời gian: 90p</span>,
        <span class="label label-primary">Số câu đúng: 42</span>,
        <span class="label label-success">Ngày làm:20/11/2008</span>
        <button class="btn btn-info btn-lg">Làm lại</button>
      </div>
    </div>
  </div>
</div>