<div class="leftside">
  <form style="width: 40% ; margin: 0 auto;">
    <h1>Nhập thông tin đề thi</h1>
    <label>Nhập tiêu đề</label>
    <input id="title" name="title" type="text" class="form-control" [(ngModel)]="test.title"><br>
    <input type="number" name="numberQuestion" class="form-control" [(ngModel)]="test.class">
    <label>Nhập thời gian</label>
    <input type="text" name="time" class="form-control" [(ngModel)]="test.time"><br>
    <label>Nhập số câu hỏi</label>
    <input type="number" name="numberQuestion" class="form-control" [(ngModel)]="test.numberQuestion">
    <button id="btn1" class="btn btn-lag btn-primary center-block" (click)="makeformResult(test.numberQuestion)">Nhập
      đán án</button><br>
    <input type="file" (change)="uploadFile($event)">
    <button type="button" class="btn btn-info" (click)="save()">Lưu</button>
  </form>
</div>

<div class="rightside">
  <h1>Chọn đáp án</h1>
  <div class="rb-box">
    <!-- Radio Button Module -->
    <div *ngFor="let item of result" id="rb-1" class="rb">
      <span>Câu:{{item.id}}</span>
      <div class="rb-tab {{item.show1}}" data-value="1">
        <div (click)="changeActive(item, 1)" class="rb-spot">
          <span class="rb-txt">A</span>
        </div>
      </div>
      <div class="rb-tab {{item.show2}}" data-value="2">
        <div (click)="changeActive(item, 2)" class="rb-spot">
          <span class="rb-txt">B</span>
        </div>
      </div>
      <div class="rb-tab {{item.show3}}" data-value="3">
        <div (click)="changeActive(item, 3)" class="rb-spot">
          <span class="rb-txt">C</span>
        </div>
      </div>
      <div class="rb-tab {{item.show4}}" data-value="4">
        <div (click)="changeActive(item, 4)" class="rb-spot">
          <span class="rb-txt">D</span>
        </div>
      </div>
    </div>
  </div>
</div>