<div class="updateInfo">
  <h1 class="title">Cập nhật thông tin</h1>
  <div class="information">
    <strong>Họ và tên</strong>
    <input type="text" name="" class="form-control"><br>
    <strong>Năm sinh</strong>
    <input type="date" name="" class="form-control"><br>
    <strong>Lớp học</strong>
    <input type="text" name="" class="form-control"><br>
    <strong>Trường</strong>
    <input type="text" name="" class="form-control">
  </div>
  <button [routerLink]="['/userInfo/showInfo']" routerLinkActive="['active']" class="btn btn-danger btn-lg center-block" style="height: 40px;width: 100px;font-size: 16px;display: block;margin:0 auto">Hoàn tất</button>
</div>