<!DOCTYPE html>
<html>

<head>
	<title>Home user</title>
	<meta charset="utf-8">
</head>

<body>
	<div class="container-fluid">
		<div class="header">
			<div class="rightheader">
				<a routerLink="/user" href="">
					<img src="../../../../assets/images/logo.png">
					<p>Online ABCD</p>
				</a>
			</div>
			<div class="leftheader">
				<ul>
					<li><a href="" routerLink="/user">Luyện đề</a></li>
					<li><a routerLink="/history">Lịch sử thi</a></li>
					<li><a routerLink="/userInfo/showInfo">Thông tin cá nhân</a></li>
					<li><a href="" (click)="logout()">Đăng xuất<span> <img src="../../../../assets/images/logout.png"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="leftside">
				<div class="find">
					<input type="text" name="" class="form-control" placeholder="Tìm kiếm....">
					<button class="btn-danger center-block">Tìm kiếm</button>
				</div>
				<div class="catolog">
					<h1>Mục lục</h1>
					<div class="catologcontent">
						<ul>
							<li><a href=""><span class="label label-danger">Mới nhất(10)</span></a>
							</li>
							<li>
								<a href=""><span class="label label-info">Vật lý(7)</span></a></li>
							<li>
								<a href=""><span class="label label-primary">50 câu(15)</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="rightside">
				<h1><span class="label label-success">Danh Sách Để Thi</span></h1>
				<div class="listtest" *ngFor="let test of tests">
					<div class="test">
						<a href="">{{test.title}}</a>
						<p><strong>Số câu:</strong> {{test.numberQuestion}}</p>
						<p><strong>Ngày tải lên:</strong> {{test.dateCreate}}</p>
						<p><strong>Thời gian làm:</strong> {{test.time}} phút</p>
						<button class="btn btn-danger center-block" style="height: 40px;width: 100px;font-size: 16px;display: block;margin:0 auto"
						 (click)="doingTest(test._id)">Làm
							luôn</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="footerleft">
			<p>Website xây dựng phục vụ môn học Thực tập công nhân</p>
		</div>
		<div class="footerright">
			<p>Các thành viên bao gồm:</p>
			<ul>
				<li>Nguyễn Thế Cường</li>
				<li>Huỳnh Trương Phúc</li>
				<li>Ngô Hải Huế</li>
			</ul>
		</div>
		<div class="copyright">
			<p>Copyright. OnlineABCD.com.vn</p>
		</div>
	</div>
</body>

</html>