<div class="showInfo">
  <h1 class="title">Thông tin cá nhân</h1>
  <div class="information">
    <p><strong>Họ và tên</strong> Nguyễn Thế Cường</p>
    <p><strong>Năm sinh</strong> 11/11/1997</p>
    <p><strong>Lớp học</strong> 15T2</p>
    <p><strong>Trường</strong> Bách Khoa Đà Nẵng</p>
  </div>
  <button [routerLink]="['/userInfo/updateInfo']" routerLinkActive="['active']" class="btn btn-lg btn-danger center-block" style="height: 40px;width: 100px;font-size: 16px;display: block;margin:0 auto">Cập nhật</button>
</div>