
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
</head>
<body>
	<div class="container-fluid">
		<div class="container">
			<div class="content">
				<div class="logo">
					<a href="#"><p>OnlineABCD</p></a>
				</div>
				<div class="imageabove">
					<img class="imageleft" src="../../../assets/images/coffee.png">
					<img class="imageright" src="../../../assets/images/pencil.png">
				</div>
				<div class="intro">
					<h1>Chào mừng bạn đến với <strong>OnlineABCD</strong> </h1>
					<h1>Website phục vụ cho việc học tập nghiên cứu của học sinh</h1>
				</div>
				<div class="imageunder">
					<img src="../../../assets/images/macbook.png">
				</div>
				<div class="btnlogin">
					<button onclick="document.getElementById('id01').style.display='block'" class="btn-lg btn btn-danger"  style="height: 80px;width: 220px;font-size: 24px;display: block;margin:0 auto">Đăng nhập ngay</button>
				</div>
			</div>
			<div id="id01" class="modal">
				<div class="formlogin modal-content animate">
					<form>
                        <span class="glyphicon glyphicon-remove" style="display: block;float: right" onclick="document.getElementById('id01').style.display='none'"></span>
						<h1>Thông tin đăng nhập</h1>
						<p>Email</p>
						<input type="text" name="" class="form-control">
						<p>Password</p>
						<input type="text" name="" class="form-control">
						<button routerLink="user" class="btn-danger btn-lg center-block " style="height: 80px;width: 220px;font-size: 24px; margin-top: 40px">Đăng nhập</button>
					</form>
				</div>
			</div>
		</div>
	</div>
<div class="footer">
	<div class="footerleft">
		<p>Website xây dựng phục vụ môn học Thực tập công nhân</p>
	</div>
	<div class="footerright">
		<p>Các thành viên bao gồm:</p>
		<ul>
			<li>Nguyễn Thế Cường</li>
			<li>Huỳnh Trương Phúc</li>
			<li>Ngô Hải Huế</li>
		</ul>
	</div>
	<div class="copyright">
		<p>Copyright. OnlineABCD.com.vn</p>
	</div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
</body>
</html>