<div class="updatePass">
  <h1 class="title">Đổi mật khẩu</h1>
  <div class="information">
    <strong>Mật khẩu cũ</strong>
    <input type="password" name="" class="form-control"><br>
    <strong>Mật khẩu mới</strong>
    <input type="password" name="" class="form-control"><br>
    <strong>Mật khẩu mới</strong>
    <input type="password" name="" class="form-control"><br>
  </div>
  <button class="btn btn-lg btn-danger center-block" style="height: 40px;width: 100px;font-size: 16px;display: block;margin:0 auto">Cập nhật</button>
</div>