<!DOCTYPE html>
<html>

<head>
	<title>Exam</title>
	<meta charset="utf-8">
</head>

<body>
	<div class="container-fluid">
		<div class="header">
			<div class="rightheader">
				<a routerLink="/user" href="">
					<img src="../../../../assets/images/logo.png">
					<p>Online ABCD</p>
				</a>
			</div>
			<div class="leftheader">
				<ul>
					<li><a href="" routerLink="/user">Luyện đề</a></li>
					<li><a href="">Tải đề lên</a></li>
					<li><a href="" routerLink="/userInfo/showInfo">Thông tin cá nhân</a></li>
					<li><a href="">Đăng xuất<span> <img src="../../../../assets/images/logout.png"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="leftside">
				<div class="testinfo">
					<h1>{{test.title}}</h1>
					<p><span class="label label-info">Số câu hỏi:{{test.numberQuestion}}</span>,<span class="label label-danger">Thời
							gian: {{test.time}}</span>,<span class="label label-primary">Trình độ:Lớp 10</span>,<span class="label label-success">Ngày
							đăng:{{test.dateCreate}}</span></p>
				</div>
				<div class="instruction" *ngIf="!displayResult">
					<h1>***Hướng dẫn làm bài</h1>
					<ul>
						<li>Thời gian tính ngay sau khi bấm bắt đầu</li>
						<li>Bài thi kết thúc khi thời gian hết hoặc bấm nộp bài</li>
						<li>Kết quả bài thi sẽ được lưu lại trong lịch sử làm bài</li>
						<li>Nếu gặp vấn đề khi tải đề vui lòng load lại trang</li>
					</ul>
				</div>
				<div class="instruction" *ngIf="displayResult">
					<h1>Kết cquả làm bài</h1>
					<h1>Số câu trả lời đúng là: {{data?.data.result}}</h1>
				</div>
				<h2 id="startBtn">Nhấn <button class="btn btn-danger" onclick="document.getElementById('id01').style.display='block';document.getElementById('startBtn').style.display='none'"
					 style="height: 50px;width: 160px;font-size: 24px;" (click)="startCountdown()">Bắt đầu</button> để làm bài</h2>
				<div class="viewpdf" style="display: none" id="id01">
					<iframe width="100%" height="900" [src]="url | safe" class="fileTest"></iframe>
				</div>
			</div>
			<div class="rightside">
				<h1 *ngIf="displayResult">Chọn đáp án</h1>
				<h1 *ngIf="!displayResult">Chọn đáp án</h1>
				<h3><span class="glyphicon glyphicon-time"></span>{{minutestr}}:{{secondstr}}</h3>
				<div class="rb-box">
					<!-- Radio Button Module -->
					<div *ngFor="let item of result" id="rb-1" class="rb">
						<span>Câu:{{item.id}}</span>
						<div class="rb-tab {{item.show1}}" data-value="1">
							<div (click)="changeActive(item, 1)" class="rb-spot">
								<span class="rb-txt">A</span>
							</div>
						</div>
						<div class="rb-tab {{item.show2}}" data-value="2">
							<div (click)="changeActive(item, 2)" class="rb-spot">
								<span class="rb-txt">B</span>
							</div>
						</div>
						<div class="rb-tab {{item.show3}}" data-value="3">
							<div (click)="changeActive(item, 3)" class="rb-spot">
								<span class="rb-txt">C</span>
							</div>
						</div>
						<div class="rb-tab {{item.show4}}" data-value="4">
							<div (click)="changeActive(item, 4)" class="rb-spot">
								<span class="rb-txt">D</span>
							</div>
						</div>
					</div>
					<!-- Button -->
					<div class="button-box">
						<button id="nopbai" class="button trigger" (click)="submitTest()" ng-disabled="!displayResult">Nộp bài</button>
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footerleft">
			<p>Website xây dựng phục vụ môn học Thực tập công nhân</p>
		</div>
		<div class="footerright">
			<p>Các thành viên bao gồm:</p>
			<ul>
				<li>Nguyễn Thế Cường</li>
				<li>Huỳnh Trương Phúc</li>
				<li>Ngô Hải Huế</li>
			</ul>
		</div>
		<div class="copyright">
			<p>Copyright. OnlineABCD.com.vn</p>
		</div>
	</div>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	<script type="text/javascript" src="../../../../assets/js/index.js"></script>
</body>

</html>