<!DOCTYPE html>
<html>

<head>
  <title>Home user</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container-fluid">
    <div class="header">
      <div class="rightheader">
        <a routerLink="/teacher/tests" href="">
          <img src="../../../../assets/images/logo.png">
          <p>Online ABCD</p>
        </a>
      </div>
      <div class="leftheader">
        <ul>
          <li><a href="" routerLink="/teacher/tests">Đề thi</a></li>
          <li><a routerLink="/teacher/students">Học sinh</a></li>
          <li><a routerLink="/teacher">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
<div class="container">
    <h1>Lịch sử thi</h1>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Ngày Thi</th>
                    <th scope="col">Tên Học Sinh</th>
                    <th scope="col">Số câu làm đúng</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students ;let i = index;">
                    <th scope="row">{{i}}</th>
                    <td>{{student.dateCreate}}</td>
                    <td>{{student.student.name}}</td>
                    <td>{{student.result}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>

<div class="footer">
  <div class="footerleft">
    <p>Website xây dựng phục vụ môn học Thực tập công nhân</p>
  </div>
  <div class="footerright">
    <p>Các thành viên bao gồm:</p>
    <ul>
      <li>Nguyễn Thế Cường</li>
      <li>Huỳnh Trương Phúc</li>
      <li>Ngô Hải Huế</li>
    </ul>
  </div>
  <div class="copyright">
    <p>Copyright. OnlineABCD.com.vn</p>
  </div>
</div>
</body>

</html>
